<h1 mat-dialog-title>Olá {{data.name}}</h1>

<mat-dialog-content>
    <div class="corpo-dialog-alterar-senha">
    <mat-form-field appearance="fill" class="input-password">
        <mat-label>Digite a senha atual</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-password">
        <mat-label>Digite a nova senha</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-password">
        <mat-label>Confirme a nova senha</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton (click)="onNoClick()">Fechar</button>
    <button matButton [mat-dialog-close]="animal()" cdkFocusInitial>Alterar</button>
</mat-dialog-actions>