.dialog-header {
    padding: 0px 10px 10px 10px;
}

.dialog-credentials{
    text-align: center;
}

$largura-padrao: 350px;

.input-email {
  width: $largura-padrao;
}

$largura-padrao: 350px;

.input-password {
  width: $largura-padrao;
}