.dialog-header {
    padding: 0px 10px 10px 10px;
}

.corpo-dialog {
    display: flex;
    flex-direction: column;
}

.corpo-dialog-linha {
    display: block;

}

.corpo-input {
    margin: 0px 15px 0 15px;
}