<div class="cards-container">
    @for (item of examService.examList(); track item.id) {
    <mat-card class="exam-card" appearance="outlined">
        <div class="header-wrapper">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
            </mat-card-header>
            <div class="card-actions">
                <button matButton (click)="openInfoExamDialog(item)">Abrir</button>
                <button matButton (click)="openDeleteDialog('0ms', '0ms')">Deletar</button>
            </div>
        </div>
    </mat-card>
    }
</div>